# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.UnityYaroslav.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\UnityYaroslav\.idea\.idea.UnityYaroslav\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
